.section__home {
  margin-top: auto;
}

.home__container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

h3 {
  color: var(--color-light);
}

/* -- HOME CTA -- */
.cta {
  margin: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* -- HOME SOCIALS -- */
.home__socials {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

/* -- HOME SCROLL -- */
.home__scroll {
  position: absolute;
  color: var(--color-primary);
  right: -3rem;
  bottom: 4.5rem;
  transform: rotate(90deg);
  display: flex;
}

.home__scroll-icon {
  font-size: 1.3rem;
  transform: rotate(-90deg);
}

.home__scroll-name {
  font-size: 0.8rem;
  margin-left: 0.6rem;
  margin-right: 0.1rem;
}

.home__scroll-arrow {
  animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(0.4rem);
  }
}


/* -- TYPEWRITTER -- */
.Typewriter {
  color: var(--color-light);
  font-size: xx-large;
}

/* -- REACT PARTICLES -- */
#tsparticles {
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

#tsparticles canvas {
  height: 100vh !important;
}

/* -- TABLETS - MEDIUM DEVICES -- */
@media screen and (max-width: 1024px) {
}

/* -- TABLETS - SMALL DEVICES -- */
@media screen and (max-width: 750px) {
  h1 {
    font-size: 2.5rem !important;
    text-align: center;
  };

  .cta {
    margin: 0.5rem;
    margin-top: 2rem;
  }

  .Typewriter {
    color: var(--color-light);
    font-size: x-large;
  }

  .home__socials {
    position: initial;
    margin-top: 3rem;
    display: block;
  }

  .home__socials a {
    padding: 0.7rem;
  }

  .home__scroll {
    display: none;
  }
}
