section#contact {
  min-height: 70vh;
}

.container.contact__container {
  width: 74%;
  display: grid;
  grid-template-columns: 31% 64%;
  gap: 5%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 0 0 0.4rem var(--color-light);
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--primary-color-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* -- FORM -- */
form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
  font-family: 'Poppins';
  overflow-y: scroll;
}

textarea {
  height: 10.1rem;
}

/* -- TABLETS - MEDIUM DEVICES -- */
@media screen and (max-width: 1024px) {
  .contact__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* -- TABLETS - SMALL DEVICES -- */
@media screen and (max-width: 600px) {
  form {
    gap: 1rem;
  }

  input,
  textarea {
    padding: 1rem;
  }

  textarea {
    height: 8rem;
  }

  .container.contact__container {
    width: var(--container--width-sm);
    padding: 1rem;
  }

  .contact__options {
    grid-template-columns: 1fr;
  }

  .contact__option-onDesktop {
    display: none !important;
  }

  .contact__option {
    padding: 0.6rem;
  }
}
