footer {
    display: block;
    justify-content: center;
    padding:3rem 0;
    text-align: center;
    font-size:0.8rem;
}

.footer__copyright {
    color: var(--color-primary);
    align-items: center;
    justify-content: center;
    margin-bottom: 4.5rem;
}

.footer__documentacion {
    cursor: pointer;
}

/* -- TABLETS - SMALL DEVICES -- */
@media screen and (max-width: 600px) {
    .footer__copyright {
        margin-bottom: 1.5rem;
    }
    
  }