footer {
    padding:3rem 0;
    text-align: center;
    font-size:0.9rem;
    margin-top:2rem;
}

.footer__copyright {
    margin-bottom: 5rem;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

