footer {
    height: 50vh;
    padding:3rem 0;
    text-align: center;
    font-size:0.9rem;
}

.footer__copyright {
    margin-bottom: 5rem;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- TABLETS - MEDIUM DEVICES -- */
@media screen and (max-width: 1225px) {
    footer {
        margin-top:4rem;
    }
}