.experience__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.experience__data--odd {
  text-align: end;
}

.experience__title {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color-white);
}

.experience__subtitle {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.experience__hyperlink {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.experience__calendar {
  font-size: 1rem;
  color: var(--color-light);
}

.experience__calendar .experience__calendar-icon {
  font-size: 0.9rem;
  margin-right: 0.3rem;
}

.experience__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.experience__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--color-primary);
  transform: translate(6px, -7px);
}

.experience {
  display: none;
}

.experience__active {
  display: block;
}

.experience__button.experience__active {
  color: var(--color-primary);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.experience__logo {
  display: inline;
  width: 10rem;
}

.experience__logo--saturate {
  filter: invert(96%) sepia(37%) saturate(2%) hue-rotate(267deg)
    brightness(103%) contrast(101%);
}

/* -- TABLETS - SMALL DEVICES -- */
@media screen and (max-width: 600px) {
  .experience__logo {
    width: 6rem;
  }

  .experience__title {
    font-size: 1rem;
  }

  .experience__subtitle {
    font-size: 0.9rem;
  }

  .experience__calendar {
    font-size: 0.75rem;
  }
}
